# Reference requirements_dev located at
# _here_

# Packaging and Distribution
pip
setuptools
wheel
twine

# Linting and Formatting
black
coverage
pylint
mypy
doc8

# Testing
tox
pytest
pytest-cov

# Documentation
Sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx_rtd_theme

# Source control
pre-commit

# Tools
pysnooper

# Vscode
esbonio
rst2html
rstcheck